@model List<TimePersonApp.Models.Person>

<!DOCTYPE html>
<html>
<head>
    <link href="~/Reset.css" rel="stylesheet"/>
    <link href="~/Style.css" rel="stylesheet"/>
</head>
<body>
    <header></header>
    <main>
        <!-- create content table -->
        <table>
            <thead>
                <tr>
                    <td>Year</td>
                    <td>Honor</td>
                    <td>Name</td>
                    <td>Country</td>
                    <td>Birth Year</td>
                    <td>Death Year</td>
                    <td>Title</td>
                    <td>Categorty</td>
                    <td>Context</td>
                </tr>
            </thead>
            <tbody>
                <!-- create row and assign values to table cells-->
                @foreach (var person in Model)
                {
                <tr>
                    @if (person.Year == 0)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@person.Year</td>
                    }


                    <td>@person.Honor</td>
                    <td>@person.Name</td>
                    <td>@person.Country</td>

                    @if (person.BirthYear == 0)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@person.BirthYear</td>
                    }
                    @if (person.DeathYear == 0)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@person.DeathYear</td>
                    }
                    <td>@person.Title</td>
                    <td>@person.Category</td>
                    <td>@person.Context</td>
                </tr>
                }

            </tbody>
        </table>
    </main>
    <footer></footer>
</body>
</html>

s